.bg
{
    max-width:100%;
}
table, th, td {
    
    border-collapse: collapse;
    border-bottom: 1px solid black;
    transition-duration: 1s;
  }
  th, td {
    padding: 15px;
  }
  h1{
      font-size: 300px;
  }
  h2{
      font-size: 200px;
  }
pre{
    padding-top: 5px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#grad {
    height: 2000px;
 
    background-image: linear-gradient(to right, deepskyblue , white);
  }
.imgip
{
    padding-top: 45px;
    width:600px;
    height:400px;
    transition-duration: 2s;
    display: inline-block;
}
.button
{
    background-color: white;
    border: 2px solid #030303;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 1s;
    cursor: pointer;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.button1 {
    
    position:absolute;
    right:0;
    top:200px;
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
  }
.button1:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
.lorem
 {
    text-align: center;
    font-size: 20px;
    font-family: Sans-serif;
    font-style: oblique;
    font-weight: bold;
 }
 